<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @attendance.student %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @attendance.gender %>
</p>

<p>
  <strong>Admissionid:</strong>
  <%= @attendance.admissionid %>
</p>

<p>
  <strong>Admissiondate:</strong>
  <%= @attendance.admissiondate %>
</p>

<p>
  <strong>Studentclass:</strong>
  <%= @attendance.studentclass %>
</p>

<p>
  <strong>Days:</strong>
  <%= @attendance.days %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @attendance.mark %>
</p>

<p>
  <strong>Result:</strong>
  <%= @attendance.result %>
</p>

<p>
  <strong>Perfomance:</strong>
  <%= @attendance.perfomance %>
</p>

<p>
  <strong>Test:</strong>
  <%= @attendance.test %>
</p>

<p>
  <strong>Fees:</strong>
  <%= @attendance.fees %>
</p>
<p>

<p>
  <strong>English:</strong>
  <%= @attendance.english %>
</p>

<p>
  <strong>Mathematics:</strong>
  <%= @attendance.mathematics %>
</p>

<p>
  <strong>Geography:</strong>
  <%= @attendance.geography %>
</p>

<p>
  <strong>History:</strong>
  <%= @attendance.history %>
</p>

<p>
  <strong>Agriculture:</strong>
  <%= @attendance.agriculture %>
</p>

<p>
  <strong>Commerce:</strong>
  <%= @attendance.commerce %>
</p>

<p>
  <strong>Accounting:</strong>
  <%= @attendance.accounting %>
</p>

<p>
  <strong>Literature:</strong>
  <%= @attendance.literature %>
</p>

<p>
  <strong>Shona:</strong>
  <%= @attendance.shona %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
